body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	font: 11pt verdana, helvetica, sans-serif;
	text-align: center;
}
table.header {
	width: 100%;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.footer {
	width: 100%;
	text-align: left;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}
table.layout {
	width: 100%;
	background-color: #fff;
	border: 1px solid #999;
	color:#333;
	text-align: left;
}
table.layout2 {
	width: 100% !important;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
	color:#333;
	border: none !important;
	text-align: left;
}
form {
	margin-bottom: 0;
}
#graphic {
	background: #333399;
}
h1 {
	margin: 0px;
	margin-left: 10px;
	font: bolder 110%/110% verdana, helvetica, sans-serif;
	color: #333399;
}
h2 {
	font: bold 12pt Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin:0px;
	padding:0px;
	background: transparent;
}
h3 {
	font: bold 11pt Georgia, "Times New Roman", Times, serif;
	color: #333;
	margin:0px;
	padding:0px;
}
h4 {
	font: bold 11pt verdana, helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
h5 {
	font: bold 10pt verdana, helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
h6 {
	font: bold 9pt verdana, helvetica, sans-serif;
	color: #333;
	margin:0px;
	padding:0px;
}
p {
	font: 10pt verdana, helvetica, sans-serif;
	margin: 0px;
	text-align: left;
	padding: 0px;
}
ul {
	margin-top: 2px;
	margin-bottom: 2px;
	list-style-image: url(images/bullet.gif);
	margin-left: 20px;
	padding-left: 0;
	border: 0;
}
li {
	padding-left: -20px;
	font: 10pt verdana, helvetica, sans-serif;
}
ul ul {
	margin-top: 2px;
	margin-bottom: 2px;
	list-style-image: url(images/bullet.gif);
	margin-left: 20px;
	padding-left: 0px;
	border: 0;
}
a#skip {
	position: absolute;
	top:-100px;
}
a {
	color: #6666cc;
	font-family: verdana, helvetica, sans-serif;
	text-decoration: underline;
}
a:link {
	color: #6666cc;
	text-decoration: underline;
}
a:visited {
	color: #6666cc;
	text-decoration: underline;
}
a:hover {
	color: #333;
	text-decoration: underline;
	background: #6666cc;
}
a.menu {
	color: #6666cc;
	font-family: verdana, helvetica, sans-serif;
	font-weight:600;
	text-decoration: underline;
}
a.menu:link {
	color: #6666cc;
	text-decoration: underline;
}
a.menu:visited {
	color: #6666cc;
	text-decoration: underline;
}
a.menu:hover {
	color: #333;
	text-decoration: underline;
	background: #6666cc;
}
img {
	border: 0px solid #333;
}
.sitenav {
	float: left;
	text-align: left;
	font: 70% verdana, helvetica, sans-serif;
}
.contactus {
	float: right;
	text-align: right;
	font: 80% verdana, helvetica, sans-serif;
}
#graphic {
	background: #6666cc;
}
#graphicbar {
	background: #333399;
}
#official {
	text-align: right;
	font: 75% verdana, helvetica, sans-serif;
	font-weight: bold;
	color: #6666cc;
	margin-bottom: 10px;
	margin-top: -5px;
}
#sitesearch {
	float: right;
	width: auto;
}
a#skip {
	position: absolute;
	top:-100px;
}
p {
	font:80%/130% verdana, helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}
p.homeblurb {
	font:75%/140% verdana, helvetica, sans-serif;
	text-align: left;
	margin: 0px;
	padding: 10px 10px 10px 10px;
}
a {
	color: #6666cc;
	font-family: verdana, helvetica, sans-serif;
	font-weight:600;
	text-decoration: underline;
}
a:link {
	color: #6666cc;
	text-decoration: underline;
}
a:visited {
	color: #6666cc;
	text-decoration: underline;
}
a:hover {
	color: #333;
	text-decoration: underline;
	background: #6666cc;
}
a#skip {
	position: absolute;
	top:-100px;
}
.command-text {
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	font-weight: bold;
	color: #666;
}
.box {
	float: right;
	width: 35%;
	border: thin dashed #6E818B;
	padding: 5px 10px;
	background-color: #EAEFF2;
	margin: 0px;

}
hr.dashed {
	border: none 0; 
	border-top: 2px dashed #6E818B;/*the border*/
	width: 100%;
	height: 2px;/*whatever the total width of the border-top and border-bottom equal*/
} 
hr.gold {
	border: none 0; 
	border-top: 2px solid #333399;
	border-bottom: 2px solid #333399;
	margin-top: -7px;
	margin-bottom: -6px;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	height: 4px;/*whatever the total width of the border-top and border-bottom equal*/
} 
.selected {
	font: verdana, helvetica, sans-serif;
	color: #6666cc;
	font-weight:600;
}
div.goldtop {
	background: #6666cc;
	height: 10px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
}
div.space {
	height: 15px;
	width: 100%;
	line-height: 1px;
    font-size: 1px;/*these two lines override a default in IE*/
}
.redtext
{color: #cc0000;}
